#pre-footer {
  background-color: rgba(51, 98, 185, 0.801);
  padding: em(50) 0;
  position: relative;

  #map-wrapper {
    height: em(500);
    padding: 0 em(20);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media(max-width: em(1400)){
      grid-template-columns: 1fr 1fr;
    }

    @media(max-width: em(1000)){
      height: em(1000);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    @media(max-width: em(500)){
      padding: 0;
    }
  }

  #map {
    height: 100%;
  }

  #open-hours {
    background-color: #000;
    height: 100%;
    box-sizing: border-box;

    h1 {
      text-align: center;
      font: {
        weight: bold;
        size: em(30); 
      }
      padding: em(25) 0;
    }

    table {
      width: 60%;
      margin: 0 auto;
      font-size: em(20);

      tr {
        border-bottom: em(1) solid $color;

        &:first-child {
          border-top: em(1) solid $color;
        }
      }

      td {
        padding: em(10) em(7);

        &:nth-child(2) {
          text-align: right;
        }
      }

      @media(max-width: em(1400)){
        width: 70%;
      }
      
      @media(max-width: em(450)){
        width: 95%;
      }

      span {
        @media(max-width: em(450)){
          display: none;
        }
      }
    }
  }
}